* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

header {
    /* border: 1px solid; */
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.header-items {
    /* border: 1px solid; */
    font-family: Helvetica;
    font-size: 14px;
    width: fit-content;
    display: flex;
    flex-direction: row;
    margin: 15px 30px;
    align-items: center;
}

.item {
    /* border: 1px solid; */
    margin: 7px;
}

button{
    color: ghostwhite;
    background-color: dodgerblue;
    padding: 7px 10px;
    border-radius: 4px;
    margin-left: 20px;
    border: none;
    font-size: 13px;
    font-weight: bold;
}

.form {
    /* border: 1px solid; */
    display: flex;
    align-items: center;
    height: 500px;
}
form {
    /* border: 1px solid; */
    text-align: center;
    margin: auto;
    margin-top: 100px;
}

.search-box {
    width: 550px;
    height: 48px;
    padding: 10px 40px;
    margin-top: 25px;
    border-radius: 50px;
    font-size: medium; 
    border: 1px solid rgb(200, 200, 200);
}

.search-box:focus {
    outline: none;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);

}

.search-box:hover {
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
}

.search-button {
    font-size: 14px;
    color: gray;
    width: fit-content;
    margin: 10px 5px;
    padding: 10px 14px;
    border: none;
    border-radius: 5px;
}

.search-button:hover {
    border: 1px solid grey;
}

footer {
    /*border-top: 1px solid grey;*/
    height: 40px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    font-family: Helvetica;
    font-size: 14px;
    color: grey;
    background: rgba(200, 200, 200, 0.3);
}

.left {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    width: 21%;
    justify-content: space-around;
}

.right {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    width: 14%;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: inherit;
}


